.mainWindowWrapper {
  width: 300px;
  height: 500px;
  background-color: #c6ec84;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.userWrapper {
  display: flex;
  justify-content: end;
  width: 290px;
  height: 50px;
  background-color: #85b03f;
  border: darkolivegreen solid 1px;
  margin-top: 2px;
}
.activeUser {
  background-color: #85b03f;
  width: 100%;

}
.historyWindowWrapper {
  width: 290px;
  height: 346px;
  background-color: #85b03f;
  border: darkolivegreen solid 1px;
  margin-top: 2px;
  overflow-y: scroll;
  /* width */

}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.enterTextWrapper {
  width: 290px;
  height: 90px;
  border: darkolivegreen solid 1px;
  background-color: #85b03f;
  display: flex;
  justify-content: center;
}
.enterTextWrapper input {
  margin: 3px 0;
  width: 280px;
  height: 30px;
  border: darkolivegreen solid 1px;
  background-color: #c6ec84;
  font-size: 1rem;
  letter-spacing: 1px;
}
.messagesWrapper {
  width: fit-content;
  background-color: white;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}
.messageTimeWrapper {
  font-size: 0.7rem;
  color: #777777;
}
.usersButton {
  position: relative;
  display: flex;
  justify-content: end;
}
